{% extends "layout.html" %} {% block content %}
<div class="about_page about_2">
    <div class="title_wrap"><h2 class="page_title">PESTS NEVER STOP.<br/>NEITHER DO WE.</h2></div>
    <div class="tab_wrap">
        <div class="tabs tabs1" data-target=".about_tab">
            <a class="active">Şirkət Haqqında</a>
            <a>Missiya və Dəyərlərimiz</a>
            <a>Şirkət Rəhbərinin Müraciəti</a>
            <a>Uğurlar / Sertifikatlar</a>
        </div>
    </div>
	<div class="tab_content_wrap">
		<div class="about_tab tabs_content">
			<div class="tab_desc active">
                <div class="text">
                    <p>Azərbaycanda insanların və iaşə obyektlərinin artmasını nəzərə alaraq,
                            əlini daşın altına qoyacaq çoxşaxəli dezinfeksiya şirkəti yaratmaq 
                            qərarına gəldik. 2018-ci ildə fəaliyyətə başlamağımıza baxmayaraq 
                            tutduğumuz bu çətin yolda inamla addımlayırıq. Hamı kimi bizi də 
                            insanların sıx olduğu ərazilərdəki gigiyenik vəziyyət narahat etdiyindən 
                            bu işin dərinliklərinə daha çox yiyələnməyə çalışırıq.</p>
                    <p>Bakudez şirkəti olaraq insanların sağlamlığını və gigiyenik yaşamını hər zaman
                        üstün tutmuşuq. İşlərimizə ilk öncə dezinfeskiya xidməti ilə başlamağımıza 
                        baxmayaraq, bu gün fərdi və korporativ müştərilərimizə geniş çeşidli xidmətlər
                        təqdim edə bilirik. Düşündük ki, bu bazarda evləri, iaşə obyektləri və ofisləri
                        ziyanvericilərdən, həşəratlardan, hətta bəzən zəhərli ilan və əqrəblərdən 
                        təmizləyən bir şirkətə ehtiyac var. Buna görə də, xidmət sahəmizi genişləndirərək,
                        dezinseksiya, dezodorasiya, deratizasiya, fumiqasiya, havalandırma, alaq otların 
                        təmizlənməsi, təmizlik və sürünənlərə qarşı tədbirləri də əlavə etdik. Biz bu 
                        xidmətlərin nə qədər vacib olduğunu anlayaraq, hər il daha çox öz işimizə 
                        fokuslanmaqdayıq.</p>
                    <p>Şirkətimizə cəlb etdiyimiz peşəkar komanda ilə Sizin sağlamlığınızı və 
                        təhlükəsizliyinizi qorumağa davam edirik. Sağlam gələcək naminə bunu 
                        etməyə dəyər!</p>
                </div>
			</div>
			<div class="tab_desc">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text">
                        <img src="images/image.png"/>
                        <p>Bakudez Dezinfeksiya şirkəti olaraq ən çətin missiyanı öz üzərimizə götürdüyümüzün 
                            fərqindəyik. Bu missiyalara sadiq qalmaq  və bu yolda özümüzü doğrultmaq üçün 
                            komandamızla birlikdə daima çalışmaqdayıq. Şirkətimizin missiyası Sizin gündəlik 
                            seçimlərinizlə üst-üstə düşən dəyərlərdir.</p>
                        <p>Şirkət olaraq təkcə ölkə çərçivəsində deyil, qlobal sahədə
                            də bakteriyasız və mikrobsuz həyat nümunəsi göstərmək
                            və gigiyenik məsuliyyətin vacibliyini hər yerə yaymaq vizyonunu mənimsəmişik. 
                            Bunu yüksək həddə çatdırmağın gərəkli olduğunu düşünərək əlimizdən gələni edirik 
                            və, ən əsası, insanların gündəlik yaşamına dəyər qatmağı hədəfləyirik.</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="alignment">
                            <span class="numb">1</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">2</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">3</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">4</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="tab_desc">
				<div class="appeal_blog">
                    <div class="blog_left">
                        <div class="img"><img src="images/item-img.png"/></div>
                        <div class="title">Cosqun Qurbanov</div>
                    </div>
                    <div class="text">
                        <p>Bakudez Dezinfeksiya şirkəti, Azərbaycanda 
                            insanların sağlam mühitdə yaşaması və ümumilikdə 
                            bu sahə üzrə ixtisaslaşması məqsədi ilə yaradılmışdır.</p>
                        <p>Şirkət, istər fərdi, istərsə də korporativ tərəfdaşlarının 
                            gələcək ehtiyaclarını qarşılamaq üçün insan kapitalına və 
                            texnoloji yeniliklərə yatırım etməkdədir. Biz ölkəmizdə olan 
                            gənc və bacarıqlı insanların bu istiqamətdə ixtisaslaşmasında maraqlıyıq.</p>
                        <p>Azərbaycanda bu sahənin inkişaf etməsi gələcəkdə baş verə biləcək bir çox 
                            xoşagəlməz hadisələrin qarşısının vaxtında alınmasına gətirib çıxaracaq. 
                            Bir çox fəaliyyətdə olan sahələrin ölkə iqtisadiyyatına qatdığı dəyər, 
                            ümumilikdə sahəyə olan tələbatı və inkişaf potensialını daha da artırır. 
                            Eyni inkişafın dezinfeksiya bazarında da hiss olunması üçün bu işlə məşğul 
                            olan şirkətlərin peşəkarlığının arzu olunan sәviyyәyә çatması lazımdır.</p>
                        <p>Dezinfeksiya işini təkmilləşdirmək və insanlara bunun məcburi deyil də, 
                            sağlamlıq və təhlükəsizlik üçün zəruri olduğunu aşılamaq Bakudez şirkətinin 
                            hədəfidir</p>
                        <p>Şirkətin başlıca məqsədlərindən biri istər fərdi şəxslər, istərsə də şirkətlərdə 
                            bu sahəyə olan marağı artırmaq və Azərbaycanda bir marka olaraq möhkəmlənməkdir.</p>
                        <p>Bakudez Dezinfeksiya şirkəti, bütün əməkdaşları ilə birlikdə bu məqsədə yönəlmiş 
                            fəaliyyətini davam etdirir və daima öz müştərilərinin sağlamlığını düşünür.</p>
                        <p><strong>Hörmətlə</strong>, Coşqun Qurbanov</p>
                    </div>
				</div>
			</div>
			<div class="tab_desc certificate_desc">
				<div>
					<p>Bakudez Dezinfeksiya şirkəti olaraq ən çətin missiyanı öz üzərimizə götürdüyümüzün fərqindəyik. 
                        Bu missiyalara sadiq qalmaq  və bu yolda özümüzü doğrultmaq üçün komandamızla birlikdə daima 
                        çalışmaqdayıq. Şirkətimizin missiyası Sizin gündəlik seçimlərinizlə üst-üstə düşən dəyərlərdir.</p>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="alignment">
                                <div>
                                    <div class="title">ISO Sertifikatları</div>
                                    <p>Bu sahədə ISO sertifikatına sahib olan yeganə şirkət olaraq, 
                                        təmizlik tədbirlərinin təhlükəsiz və effektiv qaydada həyata 
                                        keçirilməsinə zəmanət veririk.</p>
                                </div>
                            </div>
                            <div class="alignment">
                                <div>
                                    <div class="title">Sağlamlığınızı qoruyuruq</div>
                                    <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar 
                                        etmisinizsə, elə biz də onu deyirik. Bizi seçməyin 
                                        üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz!</p>
                                </div>
                            </div>
                            <div class="alignment">
                                <div>
                                    <div class="title">Düzgün Prosedur</div>
                                    <p>Şirkət olaraq müştərilərimizə keyfiyyətli və etibarlı xidmət 
                                        göstərmək üçün peşəkar komandamız təmizlik prosedurunu cəld 
                                        və dəqiqliklə izləyir.</p>
                                </div>
                            </div>
                            <div class="alignment">
                                <div>
                                    <div class="title">Həkim Rəyi</div>
                                    <p>Xidmətlərimizi sizin üçün daha keyfiyyətli və dəyərli edən 
                                        digər üstünlüyümüz isə böyük təcrübəyə malik həkim-
                                        epidemioloqumuz ilə hər zaman yaxın əlaqədə 
                                        olmağımızdır. Epidemioloqomuzun rəyləri sayəsində 
                                        peşəkar addımlar atırıq.</p>
                                </div>
                            </div>
                            <div class="alignment">
                                <div>
                                    <div class="title">Peşəkar Komanda</div>
                                    <p>Etibarlı və peşəkar komandamız şirkətimizin sizin qarşınızda 
                                        zəmanət nişanəsidir. Təcrübəli komandamız cəld, təmiz və 
                                        səliqəli iş görərək, evinizi və ya müəssisənizi gəmiricilərdən 
                                        azad edir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <div class="certificate"><img src="images/sertific.png"/></div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
