{% extends "layout.html" %} {% block content %}
<div class="about_page">
	<div class="title_wrap"><h2 class="page_title">PESTS NEVER STOP.<br/> NEITHER DO WE.</h2></div>
	<div class="tabs tabs1" data-target=".tabs_content">
		<a class="active">Loqo</a>
		<a>Photo</a>
		<a>Video</a>
	</div>
	<div class="tab_content_wrap">
		<div class="tabs_content">
			<div class="row tab_desc logos active">
                <div class="col-md-6">
                    <a class="itm logo" href="images/logo.svg" download>
                        <div class="img"><img src="images/logo.svg"/></div>
                        <div class="title">Logo</div>
                        <div class="d-flex">
                            <span>BAKUDEZ</span>
                            <span>Versiya 1.0</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="itm brandbook">
                        <div class="img"></div>
                        <div class="title">Brandbook</div>
                        <div class="d-flex">
                            <span>BAKUDEZ</span>
                            <span>Versiya 1.0</span>
                        </div>
                    </a>
                </div>
			</div>
			<div class="row tab_desc photos">
                    <div class="col-md-6">
                        <a class="item" href="images/sample/photos/photo.png" data-fancybox="gallery">
                            <div class="img"><img src="images/sample/photos/photo.png" /></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="item" href="images/sample/photos/photo.png" data-fancybox="gallery">
                            <div class="img"><img src="images/sample/photos/photo.png" /></div>
                        </a>
                    </div>
				<div class="col-md-6">
					<a class="item" href="images/sample/photos/photo.png" data-fancybox="gallery">
						<div class="img"><img src="images/sample/photos/photo.png" /></div>
					</a>
				</div>
				<div class="col-md-6">
					<a class="item" href="images/sample/photos/photo.png" data-fancybox="gallery">
						<div class="img"><img src="images/sample/photos/photo.png" /></div>
					</a>
				</div>
			</div>
			<div class="row tab_desc videos">
                    <div class="col-md-6">
                        <a class="item video" href="https://www.youtube.com/watch?v=gzQ43VcIy3A" data-fancybox="videos"><img src="images/sample/photos/photo.png" /></a>
                    </div>
                    <div class="col-md-6">
                        <a class="item video" href="https://www.youtube.com/watch?v=gzQ43VcIy3A" data-fancybox="videos"><img src="images/sample/photos/photo.png" /></a>
                    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
