{% extends "layout.html" %} {% block content %}
<div class="category">
    <div class="title_wrap">
        <div class="title_img"><div class="catg_icon akarisid"></div></div>
        <div><h2 class="page_title title_reverse">AKARİSİD EMAL</h2></div>
        <span>(gənə və gənəkimilərə qarşı)</span>
    </div>
	<div class="tabs tabs1" data-target=".about_tab">
		<a class="active">Haqqında</a>
		<a>Üstünlük</a>
	</div>
	<div class="tab_content_wrap">
		<div class="about_tab tabs_content">
			<div class="tab_desc active">
                <div class="text">
                    <p>Əgər mövsümün yaz və yay aylarında (May - İyun və Avqust - Sentyabr) gənələrlə və ya gənəkimilərlə qeyri-effektiv 
                        metodlarla mübarizə aparırsınızsa, akarisid emal xidmətindən istifadə etməyin tam vaxtıdır. Gənə və gənəkimilər sizin və 
                        ailənizin sağlamlığı üçün ciddi problem yarada bilər. Gənələr əsasən otluq ərazilərdə müşahidə olunur. Bağ evlərində, 
                        həyətyanı sahələrdə, parklarda, digər yaşayış və istirahət ərazlərində ailənizlə birlikdə rahat vaxt keçirməyiniz üçün 
                        şirkətimizin sizlərə təqdim etdiyi akarisid emalı metodundan istifadə edə bilərsiniz. Sizə təqdim etdiyimiz bu metod, ərazidə 
                        mövcud olan bitki və torpaq örtüyünə heç bir zərər vurmur. Təcrübəli komandamız yüksək keyfiyyətə malik alətlər və 
                        dərmanlar ilə sahənin münbitliyini qoruyaraq, ərazini gənələrdən təmizləyir. 
                        </p>
                    <p>Bəs sizin üçün gənələr və gənəkimilər ilə mübarizə niyə önəmlidir? Gənələr insan sağlamlığı üçün ciddi xəstəliklərə yol aça 
                        bilən həşəratlardandır. Bunlara misal olaraq Lyme, ensefalit, tifo, Q qızdırması və s. kimi xəstəlikləri nümunə göstərə bilərik. 
                        Bu kimi xəstəliklərdən özünüzü və ailənizi qorumaq üçün, mütəmadi olaraq akarisid emal təmizliyindən yararlanmaq 
                        önəmlidir.</p>
                </div>
			</div>
			<div class="tab_desc">
				<div class="advantage">
                    <div class="alignment">
                        <div>
                            <div class="title">Tamamilə təmizləyirik</div>
                            <p>Gənələr sezonluq həşəratlar olduğu üçün sizin onlarla
                                daima üzləşmə ehtimalınız var. Bu xidmət vasitəsilə siz
                                ərazini gənələrdən uzun müddətli olaraq azad edə bilərsiniz.</p>
                        </div>
                    </div>
                    <div class="alignment">
                        <div>
                            <div class="title">Keyfiyyətli dərmanlar</div>
                            <p>Avropadan gətirilən, sertifikatlı və keyfiyyətli dərmanlar
                                vasitəsilə sizin sağlamlığınızın qorunması və işimizin
                                keyfiyyəti üstünlüyümüzdür.</p>
                        </div>
                    </div>
                    <div class="alignment">
                        <div>
                            <div class="title">Məsləhət veririk</div>
                            <p>Xidmətə başlamadan öncə öz ekspertlərimiz ilə
                                dəyərləndirilmə aparılır. Hər bir torpaq örtüyü fərqli olduğu
                                üçün ərazinin necə və hansı dərmanlarla təmizlənməsi
                                dəqiqləşdirilir.</p>
                        </div>
                    </div>
                    <div class="alignment">
                        <div>
                            <div class="title">Sağlamlığınızı qoruyuru</div>
                            <p>Hər kəs üçün sağlamlıq öncəlik olduğu kimi, bizim üçün də
                                önəmlidir. Bütün işlərimiz sağlamlığınızın qorunması
                                istiqamətində aparılır..</p>
                        </div>
                    </div>
                    <div class="alignment">
                        <div>
                            <div class="title">Müasir avadanlıqları</div>
                            <p>Xidmət zamanı istifadə edilən avadanlıqlarımız, işlərimizin
                                sürətli ve keyfiyyətli görülməsində önəmli rol oynayır.
                                </p>
                        </div>
                    </div>
                    <div class="alignment">
                        <div>
                            <div class="title">Vaxtında icra edirik</div>
                            <p>Zaman qızıl olduğu üçün xidməti sifariş etdiyiniz andan 
                                etibarən, bütün prosesləri tam vaxtında icra edirik.</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
    <div class="catg_list">
        <a href="">Dezinfeksiya</a>
        <a href="">Dezinseksiya</a>
        <a href="">Deratizasiya</a>
        <a href="">Sürünən və əqrəblər</a>
        <a href="">Havalandırma</a>
        <a href="">Klininq</a>
        <a href="">Fumiqasiya</a>
        <a href="">Alaq otları</a>
        <a href="">Konsultasiya</a>
        <a href="">Dezodarasiya</a>
    </div>
</div>
{% endblock %}
