{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="product_list">
        <div class="title_wrap"><h2 class="page_title">Contact with us for <br/> best experience.</h2></div>
        <div class="row" data-match-height=".item">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_2.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites a"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_3.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_3.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_2.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_2.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_3.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="item-overlay">
                    <a href="" class="item open_popup" data-target=".product_popup">
                        <span class="img"><img src="images/sample/product/product_1.png"></span>
                        <span class="title">ALPET D2 2-1/2 Gallon
                            Secondary Container</span>
                        <span class="price">20.00 AZN</span>
                    </a>
                    <a class="add_favorites"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup popup_form product_popup">
    <div class="popup_inner">
        <button class="close"></button>
        <div class="product_group">
            <div class="img"><img src="images/sample/product/product_3.png"></div>
            <div class="detail">
                <form action="" method="">
                    <div class="product_code">PID: <span>12020000417123</span> </div> 
                    <div class="title">ALPET D2 2-1/2 Gallon Secondary Container</div>
                    <div class="stock">
                        Availability: <span>instock</span>
                    </div>
                    <div class="noti">This is a simple product.</div>
                    <div class="number-spinner">
                        <span class="ns-btn minus">
                            <a data-dir="dwn" class="dwn"><img src="images/remove.svg" title="" alt=""></a>
                        </span>
                        <input type="text" class="pl-ns-value" max="20" min="0" value="0">
                        <span class="ns-btn plus">
                            <a data-dir="up" class="up"><img src="images/add.svg" title="" alt=""></a>
                        </span>
                    </div>
                    <div class="price">20.00 AZN</div>
                    <a class="btn secondry basket_btn"><img src="images/shopper-w.svg">Səbətə əlavə et</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
