{% extends "layout.html" %} {% block content %}
<div class="vacancy_page white_bg">
	<div class="title_wrap"><h2 class="page_title">PESTS NEVER STOP.<br/>NEITHER DO WE.</h2></div>
	<div class="tab_wrap">
        <div class="tabs tabs1" data-target=".about_tab">
            <a>Missiya və Dəyərlərimiz</a>
            <a class="active">Vakansiyalar</a>
            <a>Təcrübə proqramları</a>
        </div>
    </div>
	<div class="tab_content_wrap">
		<div class="about_tab tabs_content">
			<div class="tab_desc">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text">
                        <img src="images/image.png"/>
                        <p>Bakudez Dezinfeksiya şirkəti olaraq ən çətin missiyanı öz üzərimizə götürdüyümüzün 
                            fərqindəyik. Bu missiyalara sadiq qalmaq  və bu yolda özümüzü doğrultmaq üçün 
                            komandamızla birlikdə daima çalışmaqdayıq. Şirkətimizin missiyası Sizin gündəlik 
                            seçimlərinizlə üst-üstə düşən dəyərlərdir.</p>
                        <p>Şirkət olaraq təkcə ölkə çərçivəsində deyil, qlobal sahədə
                            də bakteriyasız və mikrobsuz həyat nümunəsi göstərmək
                            və gigiyenik məsuliyyətin vacibliyini hər yerə yaymaq vizyonunu mənimsəmişik. 
                            Bunu yüksək həddə çatdırmağın gərəkli olduğunu düşünərək əlimizdən gələni edirik 
                            və, ən əsası, insanların gündəlik yaşamına dəyər qatmağı hədəfləyirik.</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="alignment">
                            <span class="numb">1</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">2</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">3</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">4</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="tab_desc vacancy active">
                <div class="text">
                    <p><strong>Manager of digital systems / IT department</strong></p>
                    <ul>
                        <li>With courses and bootcamps there is a similar challenge. It’s not that there aren’t great classes out there — but
                            those classes can be cost-prohibitive for a lot of people.</li>
                    </ul>
                    <p><strong>Əsas vəzifələr:</strong></p>
                    <ul>
                        <li>Rəhbərlik etdiyi bölmənin fəaliyyətinin qaydalara müvafiq təşkili və nəzarət edilməsi, eləcə də zərurət yarandıqda bir başa 
                            kredit satışını həyata keçirmək ;Kredit portfelinin keyfiyyətinə gündəlik əsasda nəzarət etmək və keyfiyyətin təmin edilməsi 
                            üçün zəruri tədbirlər görmək;</li>
                        <li>Rəhbərlik etdiyi mütəxəssislərin hazırlamış olduqları kredit sənədlərinin tamlığına və düzgünlüyünə nəzarət etmək;
                            Tələb olunduğu hallarda mütəxəssislərlə birlikdə müştəri bizneslərinin təhlili və kredit təyinatlarının monitorinqində iştirak 
                            etmək;</li>
                        <li>Filialın yerləşdiyi inzibati ərazidə mütəxəssislər tərəfindən reklam tədbirlərinin aparılmasını təmin etmək və mütəxəssislərin 
                            reklam materialları ilə təmin edilməsini təşkil etmək;</li>
                        <li>Tələb olunduğu hallarda seçmə üsulu ilə mütəxəssislərin müştəri axtarışı prosesində iştirak etmək;</li>
                    </ul>
                    <p><strong>Namizədə olan tələblər:</strong></p>
                    <ul>
                        <li>Ali təhsil;</li>
                        <li>Müvafiq sahə üzrə ən azı 3 illik iş təcrübəi;</li>
                        <li>Əla səviyyədə Azərbaycan, yaxşı səviyyədə Rus dili biliyi;</li>
                        <li>Yüksək yazılı və şifahi ünsiyyət qurma qabiliyyəti,Operativ qərarvermə və problem həll etmə qabiliyyəti;</li>
                        <li>İnkişaf etmiş rəhbərlik və təşkilatçılıq qabiliyyəti;</li>
                        <li>Komanda tərkibində işləmə və hədəflərini dəqiq müəyyənləşdirmə bacarığı.</li>
                    </ul>
                    <p>Göstərilən tələblərə cavab verən namizədlər öz CV-lərini <a>career@bakuez.az</a> elektron ünvanına göndərə bilərlər.Müraciət 
                        etdiyiniz vəzifənin adını email-in mövzu hissəsində “Manager of digital systems” yazmağınız xahiş olunur. </p>
                    <p><strong>Əlaqə vasitələri:</strong></p>
                    <ul>
                        <li>E-mail: career@finasset.com</li>
                        <li>Telefon: (012) 555 55 55</li>
                        <li>Ünvan: AZ1100, Bakı şəh, Cavadxan 2C</li>
                    </ul>
                </div>
			</div>
			<div class="tab_desc">
				3
			</div>
		</div>
	</div>
</div>
{% endblock %}
