{% extends "layout.html" %} {% block content %}
<div class="vacancy_page white_bg">
    <div class="title_wrap"><h2 class="page_title">PESTS NEVER STOP.<br/>NEITHER DO WE.</h2></div>
    <div class="tab_wrap">
        <div class="tabs tabs1" data-target=".about_tab">
            <a>Missiya və Dəyərlərimiz</a>
            <a class="active">Vakansiyalar</a>
            <a>Təcrübə proqramları</a>
        </div>
    </div>
	<div class="tab_content_wrap">
		<div class="about_tab tabs_content">
			<div class="tab_desc">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text">
                        <img src="images/image.png"/>
                        <p>Bakudez Dezinfeksiya şirkəti olaraq ən çətin missiyanı öz üzərimizə götürdüyümüzün 
                            fərqindəyik. Bu missiyalara sadiq qalmaq  və bu yolda özümüzü doğrultmaq üçün 
                            komandamızla birlikdə daima çalışmaqdayıq. Şirkətimizin missiyası Sizin gündəlik 
                            seçimlərinizlə üst-üstə düşən dəyərlərdir.</p>
                        <p>Şirkət olaraq təkcə ölkə çərçivəsində deyil, qlobal sahədə
                            də bakteriyasız və mikrobsuz həyat nümunəsi göstərmək
                            və gigiyenik məsuliyyətin vacibliyini hər yerə yaymaq vizyonunu mənimsəmişik. 
                            Bunu yüksək həddə çatdırmağın gərəkli olduğunu düşünərək əlimizdən gələni edirik 
                            və, ən əsası, insanların gündəlik yaşamına dəyər qatmağı hədəfləyirik.</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="alignment">
                            <span class="numb">1</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">2</span>
                            <div>
                                <div class="title">Sağlamlığınızı qoruyuruq</div>
                                <p>Hər şeydən öncə “can sağlığı” kəlməsini özünüzə şüar etmisinizsə, elə biz də onu 
                                deyirik. Bizi seçməyin üstünlüyünü tək səbr gətirəndə belə müşahidə edəcəksiniz! </p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">3</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                        <div class="alignment">
                            <span class="numb">4</span>
                            <div>
                                <div class="title">Təhlükəsiz yaşayın</div>
                                <p>İllərdir “təhlükəsiz yaşam”-ın mənbəyini axtararkən özünüzü bir də bizim saytda 
                                    tapmısınızsa, demək ki, illərin əziyyəti boşa getməyib, artıq təhlükəsiz mənsəbə çatmısınız</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="tab_desc vacancy active">
                <a class="item" href="/vacancy-details.html">
                    <h3>Vergi üzrə mühasib</h3>
                    <div class="date"><span class="start_date">01.09.2020</span> / <span class="end_date">01.10.220</span></div>
                </a>
                <a class="item" href="/vacancy-details.html">
                    <h3>Daxili Kommunikasiya və Təşəbbüslərin İdarəolunması üzrə mütəxəssis</h3>
                    <div class="date"><span class="start_date">01.09.2020</span> / <span class="end_date">01.10.220</span></div>
                </a>
                <a class="item" href="/vacancy-details.html">
                    <h3>İnsan Resursları Biznes Tərəfdaşı</h3>
                    <div class="date"><span class="start_date">01.09.2020</span> / <span class="end_date">01.10.220</span></div>
                </a>
                <a class="item" href="/vacancy-details.html">
                    <h3>Müştəri Məmnuniyyəti Xidmətinin rəhbəri</h3>
                    <div class="date"><span class="start_date">01.09.2020</span> / <span class="end_date">01.10.220</span></div>
                </a>
                <a class="item" href="/vacancy-details.html">
                    <h3>İT infrastruktur üzrə administrator</h3>
                    <div class="date"><span class="start_date">01.09.2020</span> / <span class="end_date">01.10.220</span></div>
                </a>
			</div>
			<div class="tab_desc">
				3
			</div>
		</div>
	</div>
</div>
{% endblock %}
